In [ ]:
#List Operations
list=[1,2,3,4,5,6,7,8,9,10]
list_of_Sq_Num=[a**2 for a in list] #using List Comprehension
list=list+list_of_Sq_Num
print(list)
#Now finding the sum of all elements
sum_of_elements = sum(list)
print("Sum of all elements in the list:", sum_of_elements)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Sum of all elements in the list: 440

In [5]:
#Tuple Operations
EvenNumtuple = tuple(i * 2 for i in range(1, 6))

product_of_elements = 1
for num in EvenNumtuple:
    product_of_elements *= num

print("Tuple of the first five even numbers:", EvenNumtuple)
print("Product of all elements in the tuple:", product_of_elements)

Tuple of the first five even numbers: (2, 4, 6, 8, 10)
Product of all elements in the tuple: 3840

In [9]:
#Set operations
# Create two sets of odd numbers between 1 to 10
set1 = set(range(1, 11, 2))
set2 = set(range(1, 11, 2))

#union of the two sets
union_set = set1.union(set2)
print("Union of the two sets:", union_set)

#intersection of the two sets
intersection_set = set1.intersection(set2)
print("Intersection of the two sets:", intersection_set)

Union of the two sets: {1, 3, 5, 7, 9}
Intersection of the two sets: {1, 3, 5, 7, 9}

In [12]:
# Dictionary Operations
dictionary = {char: ord(char) for char in 'abcde'}
print("Dictionary of alphabets and their ASCII values:", dictionary)

Dictionary of alphabets and their ASCII values: {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [ ]:
# Functional Programming
def square(x):
    return x ** 2

# Create a list of integers from 1 to 10
nums = list(range(1, 11))

# Using the map function
result = list(map(square, nums))

print("Original list of numbers:", nums)
print("Result after applying map:", result)